<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <style>
            body {
                background-image: url('fondoInicio.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
            }

            .custom-switch-label {
                justify-content: center;
            }

            .hidden {
                display: none;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height: 100vh;">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                       checked>
                                <label class="btn btn-outline-success" for="btnradio1" onclick="showLoginForm()">Iniciar Sesión</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                                <label class="btn btn-outline-danger" for="btnradio2" onclick="showRegisterForm()">Registro Sesión</label>
                            </div>
                        </div>
                        <div class="card-body">
                            <form id="loginForm">
                                <div class="col-auto">
                                    <input type="text" id="inputuser" class="form-control"
                                           aria-labelledby="passwordHelpInline" placeholder="Usuario">
                                </div>
                                <br>
                                <div class="col-auto">
                                    <input type="password" id="inputPassword8" class="form-control"
                                           aria-labelledby="passwordHelpInline" placeholder="Contraseña">
                                </div>
                                <br>
                                <div class="form-check d-flex justify-content-center mb-4">
                                    <div class="form-check form-switch form-check-reverse">
                                        <label class="form-check-label custom-switch-label" for="flexSwitchCheckReverse">Recordar
                                            Contraseña</label>
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-center text-center">
                                    <div class="col-12 col-md-6 justify-content-center">
                                        <a th:href="@{'/inicio'}" class="btn btn-primary">Ingresar</a>
                                    </div>
                                </div>
                            </form>

                            <form id="registerForm" class="hidden">
                                <!-- Agrega aquí los campos adicionales para el formulario de registro -->
                                <div class="col-auto">
                                    <input type="text" id="registerName" class="form-control" placeholder="Nombre">
                                </div>
                                <br>
                                <div class="col-auto">
                                    <input type="text" id="registerEmail" class="form-control" placeholder="Correo electrónico">
                                </div>
                                <br>
                                <div class="col-auto">
                                    <input type="password" id="registerPassword" class="form-control" placeholder="Contraseña">
                                </div>
                                <br>
                                <div class="col-auto">
                                    <input type="password" id="registerConfirmPassword" class="form-control" placeholder="Confirmar contraseña">
                                </div>
                                <br>
                                <div class="row justify-content-center text-center">
                                    <div class="col-12 col-md-6 justify-content-center">
                                        <a href="#" class="btn btn-primary">Registrar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="card-link">¿Haz olvidado tu contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function showLoginForm() {
                document.getElementById('loginForm').classList.remove('hidden');
                document.getElementById('registerForm').classList.add('hidden');
            }

            function showRegisterForm() {
                document.getElementById('registerForm').classList.remove('hidden');
                document.getElementById('loginForm').classList.add('hidden');
            }
        </script>
    </body>
</html>
